
body {
    background-color: wheat;
}

#GridContainer {
    display: grid;
    grid-template-areas: 
    'header header header'
    'left main main'
    'left main main';
}
#item1 {
    grid-area: header;
    width: 100%;
    background-color: rgb(153, 182, 202);
    height: 33vh;
    
}

#item2 {
    grid-area: left;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.712);
    height: 66vh;
}

#item3 {
    grid-area: main;
    width: 100%;
    background-color: rgb(42, 161, 135);
    height: 66vh;
}
/*rwd */
@media only screen and (max-width:600px) {
    body {
        background-color: lightblue ;
    }
    #GridContainer {
        display: grid;
        grid-template-areas: 
        'header'
        'left'
        'left';
    }
}